#components{
	display: -webkit-flex; 
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

#result_search_components{
	display: -webkit-flex; 
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.caption-border {
	flex:0 0 20%;
	margin: 5px;
	border: 4px solid #a1cbf0;
	background: white;
	padding: 7px;
	text-align: center;
}

.caption-border figcaption {
	padding: 10px;
	color: white;
	background: #a1cbf0;
	text-transform: uppercase;
}

.caption-border img {
	width: 280px;
	height: 200px;
}

.caption-border-ingredients {
	flex:0 0 16%;
}

.caption-border-ingredients img {
	width: 65%;
	height: 115px;
}

.container-ingredients{
	margin-left:50px;
}

.container-ingredients p{
	font-family: comic sans ms, times new roman, verdana;
	font-size:20px;
	font-weight:bold;
	margin-bottom:0px;
}
