.type_items{
	margin-left:1%;
	margin-right:1%;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	text-decoration:none;
}

.type_item{
	margin:5px;
	border: 0.2px solid #a1cbf0;
}

.type_item:hover {
  background:#f2f2f2;/*добавляем эффект при наведении*/
  color: #000;
}

.wrapper{
	padding:5px;
}

.selected{
	background-color: #a1cbf0;
	color: #fff;
}